
# Terraform & GCP sensitive files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
terraform.tfvars.json
terraform.tfplan
terraform.log

# Service account key
terraform-sa-key.json

# SSH keys
*.pem
*.key
*.pub

# System files
.DS_Store
